.RentalPlaceDetails {
  display: flex;
  flex-direction: row;
  width: auto;
  flex-wrap: wrap;
  justify-content: space-around;
}

.RentalPlace {
  height: 25rem;
  width: 25rem;
  display: flex;
  flex-direction: column;
}

.RentalPlace div:nth-child(2) {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
}
