.header {
  display: flex;
  flex-direction: column;
  margin: 1.5rem 0.5rem;
}

.header-first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
  padding: 0 3rem;
}

.header-second-row {
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
}
